
.icon-print:before { content: '\e800'; } /* '' */
.icon-box:before { content: '\e801'; } /* '' */
.icon-basket-alt:before { content: '\e802'; } /* '' */
.icon-desktop:before { content: '\e803'; } /* '' */
.icon-tools:before { content: '\e804'; } /* '' */
.icon-icq:before { content: '\e805'; } /* '' */
.icon-rouble:before { content: '\e806'; } /* '' */
.icon-cw:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */